#boxmaincontact{

    height: 85%;
    top: 15vh;
}   
#titrecontact{
    font-weight: bolder;
    padding-left: 50px;
}

#contentcontact{
    padding-top: 8%;
    margin-left: 10%;
}

#boxmail{

    background-color: rgb(255, 255, 255,0.5);
}

#textarea{  
    background-color: rgb(255, 255, 255,0.5);
    width: 70vh;
}
#textebouton{
    background-color: rgba(255, 255, 255, 0.555);
    font-weight: bold;
    padding: 0% 2% 0% 2%;
}

#textebouton:hover{
    transform: scale(1.1);
    background: rgb(195, 195, 195);
}
