*{  font-family: "Almarai";
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    color: rgb(45, 45, 45);
}


a {
    text-decoration: none !important;
    color: rgb(45, 45, 45);


}
@font-face {
    font-family: "Almarai";
    src:url(../média/Almarai-Regular.ttf);
}

body{
    position: absolute;
    margin: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    font-family: "Almarai";
    background-image:  url(média/background.jpg) ;
    background-size:100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    position: fixed;
    height: 15%;
    width: 100%;
    top: 0px;
    left: 0px;
    border-bottom: solid 2px rgb(41, 41, 41);
    background-color: hsla(31, 100%, 88%, 0.100);
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-image:  url(média/background.jpg) ;
    background-size:100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* le titre du site */
#titresite{
    padding: 0% 0% 0% 12%;
    font-size: 60px;
    text-shadow: 2px 1px 3px rgb(40, 40, 40,0.5);
}
  
#titresite::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #7c4c09f2;
    background-color: rgb(36, 36, 36);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
#titresite:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
/* le conteneur des liens du menu */

#menulink{
    margin-top: 40px;
    justify-content: flex-end;
    padding-right: 3%;
    display:flex;
    font-weight: 500;
    font-size: 3.5vh;
    
}

/* les liens du menu et les animations*/

.linkh{
    display: flex;
    padding: 0% 7% 0% 7%;
    transition: all .4s ease-in-out; 
    text-shadow: 2px 1px 3px rgb(40, 40, 40,0.5);
}

.linkh:hover{
    transform: scale(1.2);
    color: rgb(230, 110, 0);
}

.linkh:active{
    color: rgb(170, 80, 0);
}

/* le footer */

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15%;
    background-color: hsla(31, 100%, 88%, 0.250);
    border-top: solid 2px rgb(41, 41, 41);
}

#signaturesite{
    width: 25%;
    padding: 0% 0% 0% 5%;
    text-shadow: 2px 1px 3px rgb(40, 40, 40,0.5);
}

/* les liens centrés et les anims */

#lienfooter{
    justify-content: center;
    display: flex;
    padding-left: 30px;
    width: 50%;
    font-size: 3.5vh;
    text-shadow: 2px 1px 3px rgb(40, 40, 40,0.5);
}

.lienfooteranim{
    display: flex;
    padding-left: 12px;
    transition: margin 0.3s ease-in-out;
}

.lienfooteranim:hover{
    margin-top: -6px;
    color: rgb(225, 109, 2);
}

.lienfooteranim:active{
    color: rgb(170, 80, 0);
}


/* icone des reseaux et animations */

#iconreseau01{
    width: 25%;
    display: flex;
    margin-right: 5%;
    justify-content: flex-end;
}

.iconreseauanim{
    margin: 0vw 0vw 0vw 3vw;
    font-size: 30px;
    display: flex;
    transition: margin 0.3s ease-in-out;
}
.iconreseauanim:hover{
    margin-top: -6px;
}


/* Menu burger header */


#menuu {
    padding-left: 20px;
    width: 15%;
    display: flex;
    flex-direction: column;}                
        
#burger   {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;}
    

#burger i {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;}

#burger i:hover {
    margin-top: 10%;
    scale: 1.2;
    align-items: center;
    padding-left: 5px;
    transition: 1 ease;}


.deroulant {
    min-height: 185px;
    visibility: hidden;
    left: 0;
    max-width:  200px;
    border: solid black;
    border-radius: 20px;
    background-color:hsla(31, 64%, 94%, 0.25);
    width: 30%;
    height: 33vh;
    top: 35px;
    position: absolute;
    transition:linear 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;}


.deroulant-visible  {

    min-height: 185px;
    visibility: visible;
    left: 0;
    max-width:  200px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid black;
    border-radius: 20px;
    background-color:hsla(31, 64%, 94%, 0.25);
    width: 30%;
    height: 33vh;
    top: 15vh;
    position: absolute;
    align-items: center;}

.deroulant-visible p, .deroulant-visible a, .deroulant p, .deroulant a {
    padding: 2% 0% 2% 0%;
    font-size: 15px;
    font-family: "Almarai";
    margin: 2% 0% 2% 0%;
    }

.deroulant hr, .deroulant-visible hr {
    border-radius: 10px;
    border:solid rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 0;
}

.deroulant-visible a:hover, .deroulant a:hover {
    color: rgba(227, 154, 70, 0.644);
    scale: 1.2;}









    