/* Police et définition de la page */

*{  font-family: "Almarai";
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    color: rgb(45, 45, 45);
}

/* liens plus épurés */

a {
    text-decoration: none !important;
    color: rgb(45, 45, 45);
}

/* ajout de la police */

@font-face {
    font-family: "Almarai";
    src:url(../média/Almarai-Regular.ttf);
}

/* image de fond */

.bgimage{
    background-image:  url(../média/background.jpg) ;
    background-size:100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

/* placement du titre header */

.titreheader{
    margin: 4% 0% 0% 0%;
    padding-bottom: 15px;
    font-size: 60px;
    text-shadow: 2px 1px 3px rgb(40, 40, 40,0.5);
    display: flex;
    justify-content: center;
}

/* animation du titre header */

#titresite{
    position: relative;
}

#titresite::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #7c4c09f2;
    background-color: rgb(36, 36, 36);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
#titresite:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/* body de la page */

body{
    margin: 0px;
    width: 100%;
    font-family: "Almarai";
}

/* titre "Connexion" */

h3{
    background-color: rgba(238, 238, 238, 0.350);
    text-align: center;
    width: 25%;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    text-shadow: rgba(0, 0, 0, 0.200) 0px 1px 4px;
}

/* conteneur titre connexion */

#sidetitle{
    display: flex;
    justify-content: center;
}

/* div de toute la page */

#consect{
    display: flex;
    flex-direction: column;
}

/* span du formulaire */

#spanconnexion{
    padding-top: 50px;
    width: 25%;
    height: 350px;
    background-color: rgba(238, 238, 238, 0.350);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(33,33,33,.2);
    transition: box-shadow .5s ease-in-out ;
}

/* animation ombre de la box du formulaire */

#spanconnexion:hover{
    box-shadow: 0 0 10px rgba(33,33,33,.7);
}


#divconnexion{
    display: flex;
    justify-content: center;
}

/* les champs de remplissage */

.inputco{

    border: 1px solid rgba(0, 0, 0, 0.424);
    background-color: rgba(255, 255, 255, 0.250);
}

/* bouton valider */

#buttonconnexion{
    font-size:15px;
    font-family:Arial;
    padding: 5px 5px 5px 5px;
    margin: 20px 0px 0px 0px;
    width: 15em;
    color:rgb(255, 255, 255);
    border-color:rgba(119, 119, 119, 0.5);
    box-shadow:inset 0px 39px 0px -24px rgb(230, 122, 115);
    text-shadow:inset 0px 1px 0px rgb(178, 62, 53);
    background-color:rgb(228, 104, 93);
    transition: .5s;
}

#buttonconnexion:hover{

     background-color: rgb(239, 81, 69);
}

/* liens mot de passe oublié et inscription */

#linkunder{
    text-align: center;
    padding-top: 20px;  
    font-size: 15px;
}

/* soulignage des deux liens  */

.hoverlink{
    position: relative;
}
  
.hoverlink::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #7c4c09f2;
    background-color: rgb(36, 36, 36);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

.hoverlink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/* footer */

#iconreseauco{
    font-size: 30px;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}

.iconreseaucoanim{
    margin: 0vw 2vw 0vw 2vw;
    font-size: 30px;
    transition: margin 0.3s ease-in-out;
}

.iconreseaucoanim:hover{
    margin-top: -6px;
}