#contenucontact{
      margin-top: 20vh;
}

/* header fixed */

header{
  position: fixed;
  z-index: 10;
}

/* la premiere box qui regroupe les adresses  */

#boxmaincontact{
    display: flex;
    justify-content: space-evenly; 
    margin: 0% 10% 0% 10%;  
}

/* titre "nos adresses" */

#titrecontact{
    text-align: center;
    margin-top: 20px;
    
}

/* les 3 conteneurs des adresses */

.boxcontact01{
    animation: slide-in 2000ms;
    border-radius: 20px;
    border: solid 1px rgba(86, 86, 86, 0.800);
    width: 20%;
    background: rgba(252, 252, 252, 0.104);
    text-align: center;
    font-size: 22px;
    padding: 1% 0px 1% 0px;
    margin: 0px 60px 0px 60px;
}

/* animation de slide-in */

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
/* le séparateur de la page */

.hrcontact{
    width: 60%;
}

/* le conteneur du séparateur */

.hrcontactspan{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0px 40px 0px;
}

/* la deuxieme box qui regroupe le formulaire */

#boxsecondcontact{
    display: flex;
    justify-content: center;
}

/* le titre de la 2eme section */

#titresecondcontact{
    margin-top: 60px;
    text-align: center;
    
}

/* le regroupement des inputs et du formulaire */

#divinput{
    display: flex;
    font-size: 19px;
    font-weight: 500;
    width: 70%;
    height: 60%;
    margin: 4% 5% 4% 5%;
    padding: 2% 2% 2% 2%;
    border: solid 1px rgba(86, 86, 86, 0.800);
    border-radius: 20px;
    background: rgba(252, 252, 252, 0.104);
    
}

/* le span seulement des inputs */

#spaninput{
    width: 50%;
    
}

.inputclass{
    background: rgb(255,255,255,0.500);
}


/* le formulaire */

#textareacontact{
    height: 30vh;
    background: rgb(255,255,255,0.500);
}

/* responsive */

@media (max-width: 645px) {
    .boxcontact01 {font-size: 13px;}
  }
  

   /* Popup sur le bouton valider */

.popup {
    transition: all .2s ease-in-out; 
    font-size:14px;
    padding: 1px 1px 1px 1px;
    margin: 20px 0px 0px 0px;
    width: 8em;
    color:rgb(255, 255, 255);
    border-color:rgba(119, 119, 119, 0.5);
    box-shadow:inset 0px 39px 0px -24px rgb(230, 122, 115);
    text-shadow:inset 0px 1px 0px rgb(178, 62, 53);
    background-color:rgb(228, 104, 93);
    position: relative;
    justify-content: center;
    display: flex;
    cursor: pointer;
  }

  .popup:hover{
    background-color: #e7554a;
    transform: scale(1.1); 
  }
  
  /* Le pop up qui apparaît */

  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(85, 85, 85);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup fléche */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(85, 85, 85) transparent transparent transparent;
  }
  
  /* Classe qui switch */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* L'animation du fadee) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  } 