
/* la premiere box qui regroupe les adresses  */
#boxmaincontact{
    top: 15vh;
    display: flex;
    justify-content: center;   
}

/* la deuxieme box qui regroupe le formulaire */

#boxsecondcontact{
    height: 150px;
    display: flex;
    justify-content: center;
}

/* titre "nos adresses" */

#titrecontact{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

/* les 3 conteneurs des adresses */


.boxcontact01{

    border-radius: 10px;
    height: 10vw;
    width: 22vw;
    background: rgba(252, 252, 252, 0.104);
    color: rgb(100, 100, 100,80%);
    text-align: center;
    font-size: 22px;
    padding: 20px 0px 0px 0px;
    margin: 40px 40px 0px 40px;

}

/* le séparateur de la page */
.hrcontact{
    width: 60%;
}

/* le conteneur du séparateur */


.hrcontactspan{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#titresecondcontact{
    margin-top: 20px;
}