*{  font-family: "Almarai";
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    color: rgb(45, 45, 45);
}


a {
    text-decoration: none !important;
    color: rgb(45, 45, 45);


}
@font-face {
    font-family: "Almarai";
    src:url(../média/Almarai-Regular.ttf);
}

body{
    height: 100vh;
    margin: 0px;
    width: 100%;
    font-family: "Almarai";
    background-image:  url(../média/background.jpg) ;
    background-size:100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    height: 15%;
    width: 100%;
    top: 0px;
    left: 0px;
    border-bottom: solid 2px rgb(41, 41, 41);
    background-color: hsla(31, 100%, 88%, 0.100);
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-image:  url(../média/background.jpg) ;
    background-size:100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* le titre du site */

#titresite{
    position: relative;
    margin: 0% 0% 0% 12%;
    font-size: 60px;
    text-shadow: 2px 1px 3px rgb(40, 40, 40,0.5);
}
  
#titresite::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #7c4c09f2;
    background-color: rgb(36, 36, 36);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
#titresite:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/* le conteneur des liens du menu */

#menulink{
    margin-top: 40px;
    justify-content: flex-end;
    padding-right: 3%;
    display:flex;
    font-weight: 500;
    font-size: 3.5vh;
}

/* les liens du menu et les animations*/

.linkh{
    margin-bottom: 0px !important;
    display: flex;
    padding: 0% 7% 0% 7%;
    transition: all .4s ease-in-out; 
    text-shadow: 2px 1px 3px rgb(40, 40, 40,0.5);
}

.linkh:hover{
    transform: scale(1.2);
    color: rgb(228, 104, 93);
}

.linkh:active{
    color: rgb(230, 79, 65);
}

/* content */


/* le footer */

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15%;
    background-color: hsla(31, 100%, 88%, 0.250);
    border-top: solid 2px rgb(41, 41, 41);
}

#signaturesite{
    width: 25%;
    padding: 0% 0% 0% 5%;
    text-shadow: 2px 1px 3px rgb(40, 40, 40,0.5);
}

/* les liens centrés et les anims */

#lienfooter{
    justify-content: center;
    display: flex;
    width: 50%;
    font-size: 3.5vh;
    text-shadow: 2px 1px 3px rgb(40, 40, 40,0.5);
}

.lienfooteranim{
    display: flex;
    padding: 0% 3% 0% 3%;
    transition: margin 0.3s ease-in-out;
}

.lienfooteranim:hover{
    margin-top: -6px;

    color: rgb(228, 104, 93);
}

.lienfooteranim:active{
    color: rgb(230, 79, 65);
}


/* icone des reseaux et animations */

#iconreseau01{
    width: 25%;
    display: flex;
    margin-right: 5%;
    justify-content: flex-end;
}

.iconreseauanim{
    margin: 0vw 0vw 0vw 3vw;
    font-size: 30px;
    display: flex;
    transition: margin 0.3s ease-in-out;
}
.iconreseauanim:hover{
    margin-top: -6px;
}


/* Menu burger header */

.deroulant {
    min-height: 185px;
    visibility: hidden;
    right: 0%;
    max-width:  200px;
    border: solid black;
    border-radius: 20px;
    background-color:hsla(31, 64%, 94%, 0.25);
    width: 30%;
    height: 33vh;
    top: 35px;
    position: absolute;
    transition:linear 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;}


.deroulant-visible  {
    z-index: 100;
    visibility: visible;
    background-color:hsla(31, 64%, 94%, 0.85);
    top: 15vh;
}

.deroulant p, .deroulant-visible p {
    padding: 2% 0% 2% 0%;
    font-size: 25px;
    font-family: "Almarai";
    margin: 2% 0% 2% 0%;
}

 .deroulant-visible a, .deroulant a {
    padding: 2% 0% 2% 0%;
    font-size: 20px;
    font-family: "Almarai";
    margin: 2% 0% 2% 0%;
    }

.deroulant hr, .deroulant-visible hr {
    border-radius: 10px;
    border:solid rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 0;
}

.deroulant-visible a:hover, .deroulant a:hover {
    color: rgba(227, 154, 70, 0.644);
    scale: 1.2;}

/* //////////////////////////////////// */

@media (max-width: 575px) {
  #menulink {
    display: block;
    font-size: 1em;
    margin-top: 0px;}

  #lienfooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-left: 0px}

  #iconreseau01 {
    flex-direction: column;
    align-items: flex-end;}
}


@media (min-width: 575px) and (max-width: 769px) {
    #menulink { font-size: 3vh;}

    .linkh {padding: 0% 3% 0% 3%;}
}











    