.sect {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70%;
}

main {
    width: 100%;
    height: 70% !important;
    display: flex;
    flex-direction: column;
}

#player {
    width: 60%;
    height: 25vh;
    display: flex;
    position: absolute;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
}

.playsound {
    height: 30%;
    display: flex;
    justify-content: center;
}

#volume { 
    opacity: 0.6;}

.playsound i {
    display: flex;
    justify-content: center;
    color:rgba(0, 0, 0, 0.6) ;
    width: 35px;
    height: 35px;
}

.hidden {
    visibility:hidden;
}

.visible  {
    visibility:visible !important;
}

.translate {
    left:-75%;
    position: relative !important;}

.info { 
    line-height: 180%;
    right: 3%;
    /* background-color: hsla(32, 100%, 88%, 0); */
    min-width:150px ;
    max-height: 25%;
    overflow-y: scroll;
    width: 40%; 
    height: 60%;
    border-radius: 25px;
    border:solid black ;  
    z-index: 5;
    visibility: hidden;
    position: absolute;
    padding: 3% ;
    text-align: center;}

.info::-webkit-scrollbar {
  display: none;
  width: 0;
}

#imgg {
    min-height: 280px;
    min-width:280px ;
    max-width: 180px;
    cursor: pointer;
    background-size: 100% 100% ;
    width: 100%; 
    height: 100%;
    border-radius: 50%; 
    z-index: 5;
    margin: 10%;}

.secondimg {
    background: url(../média/Group\ 1.png)  no-repeat 50% 50% ;
}

.thirdimg {
    background: url(../média/ekkstacy.jpg) no-repeat 50% 50% ;}

.fourimg {
    background: url(../média/oklou.jpg) no-repeat 50% 50% ;}

.fiveimg {
    background: url(../média/offspring1.jpg)  no-repeat 50% 50% ;}

.siximg {
    background: url(../média/soko.jpg) no-repeat 50% 50% ;}

.sevenimg {
    background: url(../média/rohff2.jpg)  no-repeat 50% 50% ;}
    
.eightimg {
    background: url(../média/ucyl.jpg)  no-repeat 50% 50% ;}  

.nineimg {
    background: url(../média/juice.jpg)  no-repeat 50% 50% ;}  


#imgg:hover {
    background-size: 150%;
    scale: 1.1;
    border: none;
    transition: 0.7s ease ;} 

#left , #rigth {
    cursor: pointer;
    font-size: 3rem;
    font-weight: bolder;
    opacity: 0.6;}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);

    }
    to{
        -webkit-transform: rotate(240000deg);
    }
}
 
.rotation {
    -webkit-animation: rotating 180s infinite ease-in-out;
}
 





@media (max-width: 426px) {
    #left , #rigth {
        font-size: 1.5rem;
    } 
}




