*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    color: rgb(45, 45, 45);
}

@font-face {
    font-family: "Almarai";
    src:url(../media/Almarai-Regular.ttf);
}

body{
    font-family: "Almarai";
    background-image:  url(../media/background.jpg);
    background-size:100vw 100vh;
    background-repeat: no-repeat;
}
header{
    height: 12vh;
    border-bottom: solid 2px rgb(41, 41, 41);
}

#header01{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
#titresite{
    padding-left: 15px;
    padding-top: 15px;
    font-size: 40px;
    text-shadow: 2px 1px 3px rgb(40, 40, 40,0.5);
}

#menulink{
    display:flex;
    font-size: 18px;
    padding-top: 10px;
}

.linkh{
    padding-right: 18px;
    transformd: all .2s ease-in-out; 
    text-shadow: 2px 1px 3px rgb(40, 40, 40,0.5);
}

.linkh:hover{
    transform: scale(1.2);
    color: rgb(230, 110, 0);
}

.linkh:active{

    color: rgb(170, 80, 0);
}