*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    color: rgb(45, 45, 45);
}

@font-face {
    font-family: "Almarai";
    src:url(../media/Almarai-Regular.ttf);
}

body{
    overflow: hidden;
    width: 100%;
    font-family: "Almarai";
    background-image:  url(../media/background.jpg);
    background-size:100vw 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    height: 80px;
    border-bottom: solid 2px rgb(41, 41, 41);
}

/* la class du header pour disposer les éléments au bon endroit */

#header01{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

/* le titre du site */

#titresite{
    display: inline-block;
    position: relative;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 40px;
    text-shadow: 2px 1px 3px rgb(40, 40, 40,0.5);
}
  
#titresite::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(36, 36, 36);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
#titresite:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/* le conteneur des liens du menu */

#menulink{
    display:flex;
    font-size: 1.2em;
    padding-top: 10px;
}

/* les liens du menu et les animations*/

.linkh{
    display: flex;
    padding-right: 25px;
    transition: all .2s ease-in-out; 
    text-shadow: 2px 1px 3px rgb(40, 40, 40,0.5);
}

.linkh:hover{
    transform: scale(1.2);
    color: rgb(189, 91, 0);
}

.linkh:active{

    color: rgb(170, 80, 0);
}


/* le "main", ce qui va être au milieu de la page */

main{

   height: 80vh;
}


/* le footer */

footer{
    left: 0;
    bottom: 0;
    right: 0;
    background-color: hsla(31, 100%, 88%, 0.250);
    border-top: solid 2px rgb(41, 41, 41);
}